<div class="border-1">
  Menu Component
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="col-md-4" id="logo" src="/assets/images/lamontagne.png">
  <a routerLink="/home"><fa-icon [icon]="faHome"></fa-icon></a>
  <a class="col-md-2 text-center" routerLink="/a-la-une">A la une</a>
  <a class="col-md-2 text-center" routerLink="/vie-locale">Vie locale</a>
  <a class="col-md-2 text-center" routerLink="/sports">Sports</a>
  <a class="col-md-2 text-center" routerLink="/loisirs">Loisirs</a>
  <a class="col-md-2 text-center" routerLink="/admin">Administration</a>
</nav>

</div>
